{% extends 'infos/header.html' %}


{% block content %}


<!-- account form section ends -->

<!-- header section ends -->

<section class="heading-link">
   <h3>our courses</h3>
   <p> <a href="{% url 'home' %}">home</a> > courses </p>
</section>

<section class="courses">

   {% load static %}
   <h1 class="heading"> our famous courses </h1>

   <div class="box-container">

      <div class="box">
         <div class="image">
            <img src="{% static 'infos/img/course-2-1.jpg' %}" alt="">
            <h3>development</h3>
         </div>
         <div class="content">
            <h3>choose what's best for you!</h3>
            <p>Delve into the world of coding and software design to build robust applications with modern technologies.</p>
            <a href="#" class="btn">read more</a>
            <div class="icons">
               <span> <i class="fas fa-book"></i> 12 modules </span>
               <span> <i class="fas fa-clock"></i> 6 hours </span>
            </div>
         </div>
      </div>

      <div class="box">
         <div class="image">
            <img src="{% static 'infos/img/course-2-2.jpg' %}" alt="">
            <h3>engineering</h3>
         </div>
         <div class="content">
            <h3>choose what's best for you!</h3>
            <p>Explore the mechanics behind the machines. Learn from industry leaders in our comprehensive engineering program.</p>
            <a href="#" class="btn">read more</a>
            <div class="icons">
               <span> <i class="fas fa-book"></i> 12 modules </span>
               <span> <i class="fas fa-clock"></i> 6 hours </span>
            </div>
         </div>
      </div>

      <div class="box">
         <div class="image">
            <img src="{% static 'infos/img/course-2-3.jpg' %}" alt="">
            <h3>mathemetics</h3>
         </div>
         <div class="content">
            <h3>choose what's best for you!</h3>
            <p>Challenge yourself with our advanced mathematics courses and expand your analytical and problem-solving skills.</p>
            <a href="#" class="btn">read more</a>
            <div class="icons">
               <span> <i class="fas fa-book"></i> 12 modules </span>
               <span> <i class="fas fa-clock"></i> 6 hours </span>
            </div>
         </div>
      </div>

      <div class="box">
         <div class="image">
            <img src="{% static 'infos/img/course-2-4.jpg' %}" alt="">
            <h3>doctor</h3>
         </div>
         <div class="content">
            <h3>choose what's best for you!</h3>
            <p>Empower your teaching methodologies with advanced pedagogical techniques to foster effective learning environments.</p>
            <a href="#" class="btn">read more</a>
            <div class="icons">
               <span> <i class="fas fa-book"></i> 12 modules </span>
               <span> <i class="fas fa-clock"></i> 6 hours </span>
            </div>
         </div>
      </div>

      <div class="box">
         <div class="image">
            <img src="{% static 'infos/img/course-2-5.jpg' %}" alt="">
            <h3>science</h3>
         </div>
         <div class="content">
            <h3>choose what's best for you!</h3>
            <p>Uncover the mysteries of the natural world through our comprehensive modules covering a wide range of scientific disciplines.</p>
            <a href="#" class="btn">read more</a>
            <div class="icons">
               <span> <i class="fas fa-book"></i> 12 modules </span>
               <span> <i class="fas fa-clock"></i> 6 hours </span>
            </div>
         </div>
      </div>

      <div class="box">
         <div class="image">
            <img src="{% static 'infos/img/course-2-6.jpg' %}" alt="">
            <h3>business</h3>
         </div>
         <div class="content">
            <h3>choose what's best for you!</h3>
            <p>Learn essential business skills and strategies to thrive in any marketplace and accelerate your career.</p>
            <a href="#" class="btn">read more</a>
            <div class="icons">
               <span> <i class="fas fa-book"></i> 12 modules </span>
               <span> <i class="fas fa-clock"></i> 6 hours </span>
            </div>
         </div>
      </div>

      <div class="box hide">
         <div class="image">
            <img src="{% static 'infos/img/course-2-7.jpg' %}" alt="">
            <h3>teaching</h3>
         </div>
         <div class="content">
            <h3>choose what's best for you!</h3>
            <p>Develop modern teaching strategies that can transform your educational approach and inspire your students.</p>
            <a href="#" class="btn">read more</a>
            <div class="icons">
               <span> <i class="fas fa-book"></i> 12 modules </span>
               <span> <i class="fas fa-clock"></i> 6 hours </span>
            </div>
         </div>
      </div>

      <div class="box hide">
         <div class="image">
            <img src="{% static 'infos/img/course-2-8.jpg' %}" alt="">
            <h3>designing</h3>
         </div>
         <div class="content">
            <h3>choose what's best for you!</h3>
            <p>Embark on a creative journey to learn design thinking, user experience, and graphic design to bring your ideas to life.</p>
            <a href="#" class="btn">read more</a>
            <div class="icons">
               <span> <i class="fas fa-book"></i> 12 modules </span>
               <span> <i class="fas fa-clock"></i> 6 hours </span>
            </div>
         </div>
      </div>

      <div class="box hide">
         <div class="image">
            <img src="{% static 'infos/img/course-2-9.jpg' %}" alt="">
            <h3>dancing</h3>
         </div>
         <div class="content">
            <h3>choose what's best for you!</h3>
            <p>Step into the dance floor with confidence as you learn from the best to master various dance styles and techniques.</p>
            <a href="#" class="btn">read more</a>
            <div class="icons">
               <span> <i class="fas fa-book"></i> 12 modules </span>
               <span> <i class="fas fa-clock"></i> 6 hours </span>
            </div>
         </div>
      </div>

   </div>

   <div class="load-more"> <div class="btn">load more</div> </div>

</section>


{% endblock %}